/*------------------------body------------------------*/

body {
  font-family: 'Inter', sans-serif;
}

/*------------------------header------------------------*/

header{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: -1em;
}

header h1{
    color: white;
    font-size: 1.8em;
    background-color: #000080;
    padding: 0.75em;
    border-bottom-left-radius: 50px;
    margin: 0;
    margin-top: -0.1em;
    margin-right: -0.3em;
    height: 3em;
    background-image: url("../img/logo_blanc.png");
    background-repeat: no-repeat;
    background-position: calc(100% + 3em) center;
    background-size: 50%;
    display: grid;
    align-items: center; 
}

header p{
    grid-row-start: 2;
    grid-column-start: 2;
    align-self: start;
    text-align: center;
}

#logo{
    display: none;
}

/*------------------------bouton switch------------------------*/

.contain-checkbox{
   text-align: left;
   padding-top: 3%;
}

.switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px; width: 26px;
    left: 4px; bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/*------------------------main------------------------*/

main{
    display: grid;
    grid-template-columns: 50% 50%;
}

#listes{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    list-style: none;
}

#listes li{
    margin: auto 15em 1em 0.5em;
    padding: 0.3em 1em;
    display: block;
    transition: box-shadow 0.5s ease;
}

#gauche button{
    font-size: 1.2em;
}

#droite{
    text-align: center;
    align-self: center; 
}

#erreur, #erreur2{
    color: red;
}

button, .submit{
    border-radius: 10px;
}

button, input{
    margin: 1em;
}

input.tache{
    margin-bottom: 0.5em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

/*------------------------footer------------------------*/

footer{
    background-color: #000080;
    color: white;
    padding: 0.5em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer img{
    height: 1.5em;
    margin-right: 0.4em;
    vertical-align: middle;
}

a{
    color: white;
    text-decoration: none;
}