body{
    background-color: black;
}

main, header p{
    color: white;
}

#gauche{
    border-right: 1px solid white;
}

#listes li{
    background-color: white;
    color: black;
}

#listes li:hover{
    box-shadow: 0 2px 10px white;
}